/* fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
/* variables */
/*KEYFRAMES*/
@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/*CLASES*/
.animated {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.animated.opacity {
  opacity: 0;
}

.animated.opacity.in {
  opacity: 1;
}

.animated.opacity-up {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.animated.opacity-up.in {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.animated.opacity-arrow {
  opacity: 0;
  -webkit-transform: translateY(-50px) rotate(90deg);
  transform: translateY(-50px) rotate(90deg);
}

.animated.opacity-arrow.in {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(90deg);
  transform: translateY(0px) rotate(90deg);
}

.animated.opacity-down {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.animated.opacity-down.in {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.animated.opacity-right {
  opacity: 0;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.animated.opacity-right.in {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.animated.opacity-left {
  opacity: 0;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.animated.opacity-left.in {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.animated.scale {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.animated.scale.in {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.animated.scale.uni-view {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

@media (min-width: 768px) {
  .animated.opacity-arrow {
    opacity: 0;
    -webkit-transform: translateX(-50px) rotate(0deg);
    transform: translateX(-50px) rotate(0deg);
  }
  .animated.opacity-arrow.in {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

body {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

body .container {
  scroll-behavior: smooth;
}

header .navbar {
  min-height: 62px;
  padding-top: 10px;
  margin-bottom: 10px;
}

header .navbar-default {
  background-color: #fff;
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar-default .navbar-header .logo-img img {
  padding-left: 11px;
  margin-top: 1px;
}

header .navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: #000;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

header .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

header .navbar-default .navbar-toggle:active {
  background-color: transparent;
}

header .navbar-default .navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar-default .navbar-collapse ul {
  text-align: center;
}

header .navbar-default .navbar-collapse ul li a {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
}

header .navbar-default .navbar-collapse ul li a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

@media (min-width: 768px) {
  header .navbar {
    min-height: 71px;
  }
  header .affix {
    background: #142850;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  header .affix .navbar-nav li a {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 15px;
  }
  header .affix .navbar-nav li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  header .affix .navbar-nav li a:focus {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  header .affix .navbar-nav li a:active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  header .affix-top {
    background: transparent;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  header .affix-top .navbar-nav li a {
    color: #142850;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    font-size: 15px;
  }
  header .affix-top .navbar-nav li a:hover {
    color: #142850;
    border-bottom: 2px solid #142850;
  }
  header .affix-top .navbar-nav li a:focus {
    color: #142850;
    border-bottom: 2px solid #142850;
  }
  header .affix-top .navbar-nav li a:active {
    color: #142850;
    border-bottom: 2px solid #142850;
  }
}

footer .pre-footer {
  background: #e3e3e3;
  padding: 40px;
}

footer .footer-middle {
  padding-top: 25px;
  padding-bottom: 10px;
}

footer .footer-middle p {
  text-align: center;
  color: #142850;
  font-size: 15px;
}

footer .footer-bottom {
  background: #e3e3e3;
  padding: 10px;
}

.home-banner {
  height: 550px;
  background: url("./../assets/bg-new.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.home-banner .title {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.home-banner .title h1 {
  text-align: center;
  color: #142850;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
  font-weight: 700;
}

.home-banner .title h1 span {
  display: block;
}

@media (min-width: 768px) {
  .home-banner {
    background-repeat: no-repeat;
  }
  .home-banner .title {
    position: absolute;
    top: 110px;
  }
  .home-banner .title h1 {
    font-size: 50px;
    text-transform: capitalize;
    text-align: left;
    text-transform: uppercase;
  }
  .home-banner .title h1 span {
    display: block;
  }
}

.first-section {
  background: #fff;
  padding-bottom: 70px;
}

.first-section .carousel-section-bg {
  -webkit-box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 25px;
}

.first-section .carousel-section-bg .carousel-section {
  background: #fff;
  margin-top: -70px;
  padding-top: 30px;
}

.first-section .carousel-section-bg .carousel-section #myCarousel {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.first-section .carousel-section-bg .carousel-section #Portfolio .modal-title {
  text-align: center;
  color: #142850;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.first-section .carousel-section-bg .carousel-section #Portfolio .modal-footer .btn-modal {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 120px;
  background: none;
  color: #142850;
  border: 1px solid #142850;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.first-section .carousel-section-bg .carousel-section #Portfolio .modal-footer .btn-modal:hover {
  color: #fff;
  background: #142850;
}

.first-section .carousel-section-bg .carousel-section .carousel-wording h1 {
  text-align: center;
  color: #142850;
  font-weight: 700;
  font-size: 25px;
}

.first-section .carousel-section-bg .carousel-section .carousel-wording p {
  text-align: center;
  color: #333333;
}

.first-section .carousel-section-bg .carousel-section .carousel-wording .btn-about {
  border: 1px solid #142850;
  color: #142850;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100px;
  min-width: 100px;
  margin-top: 22px;
  border-radius: 0;
}

.first-section .carousel-section-bg .carousel-section .carousel-wording .btn-about:hover {
  background: #142850;
  color: #fff;
}

@media (min-width: 768px) {
  .first-section .carousel-section-bg .carousel-section {
    margin-top: -100px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel {
    height: 250px;
    width: 48%;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .carousel-indicators {
    bottom: -50px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .carousel-indicators li {
    border: 1px solid #142850;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .carousel-indicators .active {
    background: #142850;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .right {
    right: -50px;
    color: #142850;
    background-image: none;
    opacity: 1;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .right:hover {
    color: #142850;
    opacity: 0.5;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .left {
    left: -50px;
    color: #142850;
    background-image: none;
    opacity: 1;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .left:hover {
    color: #142850;
    opacity: 0.5;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording {
    padding-top: 30px;
  }
}

@media (min-width: 992px) {
  .first-section .carousel-section-bg .carousel-section #myCarousel .carousel-indicators {
    bottom: -140px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .left .glyphicon-chevron-left {
    margin-top: 30px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .right .glyphicon-chevron-right {
    margin-top: 30px;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording h1 {
    text-align: left;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording p {
    text-align: left;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording .btn-about {
    float: right;
    margin-top: -50px;
  }
}

@media (min-width: 1200px) {
  .first-section .carousel-section-bg {
    padding-bottom: 50px;
  }
  .first-section .carousel-section-bg .carousel-section {
    padding-top: 60px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .carousel-indicators {
    bottom: -220px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .left .glyphicon-chevron-left {
    margin-top: 70px;
    margin-left: -70px;
  }
  .first-section .carousel-section-bg .carousel-section #myCarousel .right .glyphicon-chevron-right {
    margin-top: 70px;
    margin-right: -70px;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording {
    padding-top: 230px;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording p {
    text-align: left;
    width: 80%;
  }
  .first-section .carousel-section-bg .carousel-section .carousel-wording .btn-about {
    float: right;
    margin-top: -60px;
  }
}

.second-section {
  background: url("./../assets/claim-background-new.png");
  background-repeat: no-repeat;
  background-position: center top 60%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-attachment: fixed;
}

.second-section h2 {
  color: #fff;
  text-align: center;
}

.second-section p {
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.second-section .btn-claim {
  background-color: #000;
  color: #aad700;
  text-align: center;
  display: block;
  margin: auto;
  width: 160px;
  min-width: 160px;
  margin-top: 30px;
  padding: 8px;
  border-radius: 0;
}

.second-section .btn-claim:hover {
  color: #000;
  border: 1px solid #fff;
  background: #aad700;
}

@media (min-width: 992px) {
  .second-section {
    height: 272px;
  }
  .second-section h2 {
    text-align: left;
  }
  .second-section p {
    text-align: left;
  }
  .second-section .btn-claim {
    margin-top: 80px;
  }
}

.map-section {
  padding: 50px 0;
}

.map-section h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.map-section .location-list {
  text-align: center;
}

.map-section .location-list li {
  display: inline-block;
  padding: 0 30px;
  font-size: 17px;
  font-weight: 700;
}

.map-section .location-list li::before {
  content: "\2022";
  color: #93bc00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}

.first-section .carousel-section-bg .well {
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: -200px;
}

.first-section .carousel-section-bg .well .carousel .carousel-inner .item a img {
  display: block;
  margin: 0 auto;
}

.first-section .carousel-section-bg .well .carousel .carousel-inner .item a .back-img {
  padding-top: 60px;
}

.first-section .carousel-section-bg .well .carousel .carousel-control {
  padding-top: 10%;
  width: 5%;
}

.first-section .carousel-section-bg .well .carousel .left {
  background-image: none;
  left: -40px;
  top: 20px;
  color: #142850;
  font-size: 40px;
  opacity: 1;
}

.first-section .carousel-section-bg .well .carousel .right {
  background-image: none;
  right: -40px;
  top: 20px;
  color: #142850;
  font-size: 40px;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */