  //banner

  .home-banner {
    height: 500px;
    background: url("./../assets/background.png");
    // background-color: blue;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

    .title {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 150px;

      h1 {
        text-align: center;
        color: $white;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.5;
      }
    }
  }

  @media (min-width: 768px) {
    .home-banner {
      background-repeat: no-repeat;

      .title {
        bottom: 190px;
        h1 {
          font-size: 45px;
          text-transform: capitalize;
        }
      }
    }
  }

  // end of banner

  // first section

  .first-section {
    background: $white;
    padding-bottom: 70px;
    .carousel-section-bg {
      box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.5);
      padding-bottom: 25px;
      .carousel-section {
        background: $white;
        margin-top: -70px;
        padding-top: 30px;

        #myCarousel {
          width: 90%;
          display: block;
          margin: 0 auto;
        }

        #Portfolio {
          .modal-title {
            text-align: center;
            color: $primary-color;
            font-size: 16px;
            font-family: $primary-font;
          }

          .modal-footer {
            .btn-modal {
              text-align: center;
              display: block;
              margin: 0 auto;
              width: 120px;
              background: none;
              color: $primary-color;
              border: 1px solid $primary-color;
              box-shadow: none;
              text-shadow: none;

              &:hover {
                color: $white;
                background: $primary-color;
              }
            }
          }
        }

        .carousel-wording {
          h1 {
            text-align: center;
            color: $primary-color;
            font-weight: 700;
            font-size: 25px;
          }
          p {
            text-align: center;
            color: $text-color;
          }

          .btn-about {
            border: 1px solid $primary-color;
            color: $primary-color;
            text-align: center;
            display: block;
            margin: 0 auto;
            width: 100px;
            min-width: 100px;
            margin-top: 22px;

            &:hover {
              background: $primary-color;
              color: $white;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .first-section {
      .carousel-section-bg {
        .carousel-section {
          margin-top: -100px;
          #myCarousel {
            height: 250px;
            width: 48%;

            .carousel-indicators {
              bottom: -50px;
              li {
                border: 1px solid $primary-color;
              }
              .active {
                background: $primary-color;
              }
            }

            .right {
              right: -50px;
              color: $primary-color;
              background-image: none;
              opacity: 1;

              &:hover {
                color: $primary-color;
                opacity: 0.5;
              }
            }

            .left {
              left: -50px;
              color: $primary-color;
              background-image: none;
              opacity: 1;

              &:hover {
                color: $primary-color;
                opacity: 0.5;
              }
            }
          }

          .carousel-wording {
            padding-top: 30px;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .first-section {
      .carousel-section-bg {
        .carousel-section {
          #myCarousel {
            .carousel-indicators {
              bottom: -140px;
            }

            .left {
              .glyphicon-chevron-left {
                margin-top: 30px;
              }
            }

            .right {
              .glyphicon-chevron-right {
                margin-top: 30px;
              }
            }
          }

          .carousel-wording {
            padding-top: 150px;
            padding-left: 100px;
            padding-right: 100px;

            h1 {
              text-align: left;
            }
            p {
              text-align: left;
            }

            .btn-about {
              float: right;
              margin-top: -50px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .first-section {
      .carousel-section-bg {
        padding-bottom: 50px;
        .carousel-section {
          padding-top: 60px;
          #myCarousel {
            .carousel-indicators {
              bottom: -220px;
            }

            .left {
              .glyphicon-chevron-left {
                margin-top: 70px;
                margin-left: -70px;
              }
            }

            .right {
              .glyphicon-chevron-right {
                margin-top: 70px;
                margin-right: -70px;
              }
            }
          }

          .carousel-wording {
            padding-top: 230px;

            h1 {
              font-size: 30px;
              padding-bottom: 10px;
            }
            p {
              text-align: left;
            }

            .btn-about {
              float: right;
              margin-top: -60px;
            }
          }
        }
      }
    }
  }

  // end of first section

  // second section

  .second-section {
    background: url("./../assets/claim-background-new.png");
    background-repeat: no-repeat;
    background-position: center top 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;

    h2 {
      color: $white;
      text-align: center;
    }

    p {
      color: $white;
      text-align: center;
      padding-top: 20px;
    }

    .btn-claim {
      background-color: $primary-color;
      color: $white;
      text-align: center;
      display: block;
      margin: auto;
      width: 160px;
      min-width: 160px;
      margin-top: 30px;
      padding: 8px;

      &:hover {
        color: $white;
        border: 1px solid $white;

        background: transparent;
      }
    }
  }

  @media (min-width: 992px) {
    .second-section {
      h2 {
        text-align: left;
      }
      p {
        text-align: left;
      }

      .btn-claim {
        margin-top: 80px;
      }
    }
  }
  // end of second sectio