footer {
    .pre-footer {
      background: $secondary-color;
      padding: 40px;
    }
    .footer-middle {
      padding-top: 25px;
      padding-bottom: 10px;
      p {
        text-align: center;
        color: $primary-color;
        font-size: 15px;
      }
    }
    .footer-bottom {
      background: $secondary-color;
      padding: 10px;
    }
  }
