  // header
  header {
    .navbar {
      min-height: 62px;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    .navbar-default {
      background-color: $white;
      border: none;
      background-image: none;
      box-shadow: none;

      .navbar-header {
        .logo-img {
          img {
            padding-left: 11px;
            margin-top: 1px;
          }
        }
      }

      .navbar-toggle {
        background-color: transparent;
        border-color: $black;

        .icon-bar {
          background-color: $black;
        }

        &:hover {
          background-color: transparent;
        }

        &:focus {
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }

      .navbar-collapse {
        border: none;
        box-shadow: none;

        ul {
          text-align: center;
          li {
            a {
              color: $black;
              font-family: $primary-font;
              font-weight: 400;
              font-size: 18px;
              margin-top: 10px;
              margin-bottom: 10px;
              margin-right: 70px;
              margin-left: 70px;

              &:hover {
                border-bottom: 1px solid $black;
                color: $black;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    header {
      .navbar {
        min-height: 71px;
      }
      .affix {
        background: $primary-color;
        transition: 0.5s ease;
        .navbar-nav {
          li {
            a {
              color: $white;
              margin-right: 5px;
              margin-left: 5px;
              padding-bottom: 5px;
              font-size: 15px;

              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }

              &:focus {
                color: $white;
                border-bottom: 2px solid $white;
              }

              &:active {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }
      .affix-top {
        background: transparent;
        transition: 0.5s ease;
        .navbar-nav {
          li {
            a {
              color: $white;
              margin-right: 5px;
              margin-left: 5px;
              padding-bottom: 5px;
              font-size: 15px;

              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }

              &:focus {
                color: $white;
                border-bottom: 2px solid $white;
              }

              &:active {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }
    }
  }

  // end of header