/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* variables */

$primary-color: #142850;
$secondary-color: #e3e3e3;
$white: #fff;
$black: #000;

$text-color: #333333;

$primary-font: 'Roboto', sans-serif;